#vermeio {
  color: #bc0a0a;
}

.Texto {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  margin-left: 50px;
  margin-right: 200px;
}

.Texto h1 {
    margin-bottom: -30px;
}

.Conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.Profile img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  transition: all 0.6s ease-in-out,
  transform 0.3s ease-in-out;
}

.Profile img:hover {
  transform: scale(1.02);
box-shadow: 0 0 100px 5px rgba(188, 10, 10, 0.7);
}
